* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: flex;
}

#menu-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#user-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
}

#cart-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

#logo-img-header {
  height: 50px;
  margin-right: 20px;
}